.toolBar {
  width: 43%;
  background-color: #303237;
  border: 2.03613px solid #202225;
  box-sizing: border-box;
  border-radius: 4px;
}
.header {
  margin: 23px 16px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #8f9297;
}
.emoji {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
}
.smile {
  font-size: 26px;
  padding: 3px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #4b4b4b;
  }
}

.input {
  display: flex;
  width: -webkit-fill-available;
  background-color: #202225;
  color: white;
  outline: none;
  border: none;
  height: 72px;
  font-size: 30px;
}

.wrap {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
